.conatiner {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .reco_conatiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  
  .all_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}